<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="com.netease.course" />
	
	<!-- 配置静态资源 -->
	<mvc:resources location="/css/" mapping="/css/**" /> 
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/" mapping="/errorPage.html" />
	<mvc:resources location="/" mapping="/NoPermissionPage.html" />
	<mvc:resources location="/" mapping="/favicon.ico" />
	<mvc:resources location="/image/" mapping="/image/**"/>

	
	<mvc:annotation-driven />
	
	<aop:aspectj-autoproxy/>
	
	<bean id="logInterceptor" class="com.netease.course.aop.LogInterceptor" />
  
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/" />
			<mvc:exclude-mapping path="/index" />
			<mvc:exclude-mapping path="/login" />
			<mvc:exclude-mapping path="/api/login" />
			<mvc:exclude-mapping path="/show" />
			<mvc:exclude-mapping path="/css/**" />
			<mvc:exclude-mapping path="/js/**" />
			<mvc:exclude-mapping path="/errorPage.html" />
			<mvc:exclude-mapping path="/NoPermissionPage.html" />
			<mvc:exclude-mapping path="/favicon.ico" />
			<mvc:exclude-mapping path="/image/**"/>
			<bean class="com.netease.course.interceptor.LoginCheckInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/account" />
			<mvc:mapping path="api/buy" />
			<mvc:mapping path="/settleAccount"/>
			<bean class="com.netease.course.interceptor.SellerInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/api/delete" />
			<mvc:mapping path="/public" />
			<mvc:mapping path="publicSubmit" />
			<mvc:mapping path="/edit" />
			<mvc:mapping path="/editSubmit" />
			<bean class="com.netease.course.interceptor.BuyerInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/template" />
		<property name="freemarkerSettings">
			<props>
				<prop key="classic_compatible">true</prop>
				<prop key="defaultEncoding">UTF-8</prop>
			</props>
		</property>
	</bean>
	
	<!-- 文件上传解析器，限制大小1MB -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1048576" />
	</bean>
	
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="viewResolvers">
			<list>
				<bean id="ViewResolver"
					class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
					<property name="cache" value="true" />
					<property name="prefix" value="" />
					<property name="suffix" value=".ftl" />
					<property name="contentType" value="text/html; charset=utf-8" />
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
			</list>
		</property>
	</bean>
</beans>
